::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #FF8800;
  &:hover {
    background: #b4b4b4;
  }
}

.page {
  width: 100%;
  text-shadow: .5px .5px 1px rgba(0,0,0,0.6);
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-header {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: .2rem;
  font-weight: lighter;
  border-bottom: 1px solid #000;
  width: 200px;
  margin: 0 auto 100px auto;
  padding-bottom: 10px;
}
